<!-- <div class="header-image">
    <div class="header-content">
        <img class="logo" src="{{site.baseurl}}/assets/img/my_logo_grey.svg" id="avatar" alt="Khouloud's logo">
        <h1 class="Name">KHOULOUD BEYDOUN</h1>
        <p>Graphic Designer</p>
        <ul>
            <a href="{{site.insta}}"><li class="social insta"></li></a>
            <a href="{{site.git}}"><li class="social git"></li></a>
            <a href="{{site.beh}}"><li class="social beh"></li></a>
        </ul>
    </div>
</div>
 -->

  <header>
        <div class="menu-toggler">
            <div class="bar half start"></div>
            <div class="bar"></div>
            <div class="bar half end"></div>
        </div>  


        <nav class="top-nav">
        <ul class="nav-list">
            <li>
                <a href="index.html" class="nav-link">Home</a>
            </li>
            <li>
                <a href="#about" class="nav-link">About</a>
            </li>
            <li>
                <a href="#portfolio" class="nav-link">Portfolio</a>
            </li>
            <li>
                    <a href="#contact" class="nav-link">Contact</a>
            </li>
               
        </ul>
        </nav>
      
            
    
        <div class="landing-text">
            <img class="logo" src="img/my_logo_grey.svg" id="avatar" alt="Khouloud's logo">
            <h1>Khouloud Beydoun</h1>
            <h6>Graphic Designer</h6>
        </div>
    </header>
