<div class="header-image">
    <div class="header-content">
        <img class="logo" src="{{site.baseurl}}/assets/img/my_logo_grey.svg" id="avatar" alt="Khouloud's logo">
        <h1 class="Name">KHOULOUD BEYDOUN</h1>
        <p>Graphic Designer</p>
        <ul>
            <a href="{{site.insta}}"><li class="social insta"></li></a>
            <a href="{{site.git}}"><li class="social git"></li></a>
            <a href="{{site.beh}}"><li class="social beh"></li></a>
        </ul>
    </div>
</div>
