// body,html{
//     margin:0;
//     font-family: 'Poppins', sans-serif;
// }
html{
//     font: size 10px;
    margin:0;
    font-family: 'Poppins', sans-serif;
    color: white;
}
body{
    width: 100%;
    height: 100%;
    margin:0;
   background: linear-gradient(#694646, black 70%);
    background-size: cover;
}
.logo{
    width: 100%;
    height: 100%;
    
   
   
}
#avatar{

    /* box-shadow: 0px 1px 0px rgba(0,0,0,0.25); */
    
    /* border-radius: 50%; */
    animation: bounce cubic-bezier(0.19,1.0,0.22,1.0) 1.5s alternate infinite;
    -webkit-animation: bounce cubic-bezier(0.19,1.0,0.22,1.0) 1.5s alternate infinite;
    
  }
  
  @keyframes bounce {
      to{
      transform: translateY(-12px) scale(1.03);
      /* box-shadow: 0px 5px 10px rgba(0,0,0,0.15); */
    }
  }
  @-webkit-keyframes bounce { 
      to{
      -webkit-transform: translateY(-12px) scale(1.03);
      /* box-shadow: 0px 5px 10px rgba(0,0,0,0.15); */
    }
  }



.caption__media {
box-shadow: 10px 10px 5px #381f1f;
}  
 
h1, p, img {
margin-left:25px;
}

p {
    display:block;
    width:500px;
}

// h1, p, img {
//     display: block;
//     width: 500px;
//     margin: 0 10%;
// }


// header > .wrap {
//     z-index: 10;
//     overflow: auto;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     width: 30%;
//     padding: 0;
//     min-height:100vh;

// }

.header-image {
    position: fixed;
    min-height:100vh;
    right: auto;
    width: 30%;
    background-image: url("../img/dark-red-texture.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    filter: grayscale(50%);
    
}

.header-content {
    position: absolute;
    bottom: 0;
    padding: 60px 87px 52px;
    color: white;
    width: 100px;
}
   
    .Name {
    color:#c2a3a3;
    }
    
// }
// .header-content >h1 {
// justify-content: center;
// }

.header-content >ul >li {
    display:inline-block;
}

.social {
    width:35px;
    min-height:35px;
    background-color:white;
    border-radius:100px;
    margin:10px;
    line-height:35px;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900; 
    list-style-type: none;
    text-align: center;
    text-decoration:none;  
}



.insta::before {
    font-family:"FontAwesome"; 
    font-weight: 900;
    content:"\f16d ";
}
.git::before {
    font-family:"FontAwesome"; 
    font-weight: 900;
    content:"\f09b";
} 

.beh::before{
    font-family:"FontAwesome"; 
    font-weight: 900;
    content: "\f1b4";
}


.page {
    padding-left:30%;
    float: left;
    clear: both;
    width: 100%;
}
