---
layout: default
---
  <section class="contact" id="contact">
                <div class="container">
                    <div class="section-heading" data-aos="fade-down" data-aos-delay="300">
                        <h1>Contact</h1>
                        <h6>Lets work together</h6>
                    </div>
                    <form action="" data-aos="fade-up" data-aos-delay="300">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" placeholder="Enter Your Name..." required>
                        <label for="name">Email:</label>
                        <input type="email" id="email" name="email" placeholder="Enter Your Email..." required>
                        <label for="name">Subject:</label>
                        <textarea name="subject" id="subject" cols="30" rows="10"></textarea>
                        <input type="Submit" value="Submit"> 
                    </form>
                </div>
        </section>
